.detailPost__container{
    h1{
        color: red;
    }
}
.chapterPage__container{
    embed{
        margin-left: 20px;
        margin-right: 20px;


}
}

.Home__container{

h5{
    color: red;
}
}
